In [1]:
import pandas as pd
import numpy as np

In [2]:
info_competition = pd.read_csv("./open_data/info_competition.csv", encoding = 'euc-kr')
info_login = pd.read_csv("./open_data/info_login.csv", encoding = 'euc-kr')
info_submission = pd.read_csv("./open_data/info_submission.csv", encoding = 'euc-kr')
info_user = pd.read_csv("./open_data/info_user.csv", encoding = 'euc-kr')

train = pd.read_csv("./open_data/train.csv", encoding = 'euc-kr')
train['DateTime'] = pd.to_datetime(train.DateTime)
train['date'] = train.DateTime.dt.date
train  = train.groupby('date').sum().reset_index()

C:\Users\82109\anaconda3\envs\pytorch_python3.7\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## info_competition
- 일별 진행중인 대회 개수  + 대회 마감전 몇일 가중치
- 일별 전체 상금 규모

In [3]:
from datetime import timedelta

info_competition = info_competition[['period_start', 'period_end', 'prize']]
info_competition['period_start'] = pd.to_datetime(info_competition.period_start)
info_competition['period_start'] = info_competition.period_start.dt.date
info_competition['period_end'] = pd.to_datetime(info_competition.period_end)
info_competition['period_end'] = info_competition.period_end.dt.date

In [4]:
def daterange(d1, d2, prize):
    # 대회 종료 직전 3일은 1대신 1.5로 가중치
    return [[d1 + timedelta(days=i), prize, 1] if i <= (d2 - d1).days - 3 \
            else [d1 + timedelta(days=i), prize, 1.5] \
            for i in range((d2 - d1).days + 1)] 

df_competition = pd.DataFrame()
for i in range(info_competition.shape[0]):
    tmp = daterange(info_competition.period_start[i], info_competition.period_end[i], info_competition.prize[i]) # list
    df_tmp = pd.DataFrame(tmp, columns=['date', 'prize', 'num_competition'])
    df_competition = pd.concat([df_competition,df_tmp])
    
final_competition = df_competition.groupby('date').sum().reset_index()
train = pd.merge(train, final_competition, on='date', how='left')
train.tail()

           date   사용자    세션  신규방문자    페이지뷰   prize  num_competition
787  2020-11-04  4516  4472   1196  112683  9650.0              7.0
788  2020-11-05  4155  4037   1044  102901  9650.0              7.0
789  2020-11-06  3663  3576    825   88015  9650.0              7.0
790  2020-11-07  2472  2417    531   57386  9650.0              7.0
791  2020-11-08  2492  2420    522   50486  9650.0              7.0

## info_login
- train 데이터와 겹치므로 사용안함

## info_submission
- 날짜별 제출수만 사용

In [5]:
info_submission = pd.read_csv("./open_data/info_submission.csv", encoding = 'euc-kr')

info_submission = info_submission[['user_id', 'c_time']]
info_submission['c_time'] = pd.to_datetime(info_submission.c_time)
info_submission['c_time'] = info_submission.c_time.dt.date
info_submission = info_submission.groupby('c_time').count().reset_index()
info_submission.rename(columns = {'c_time' : 'date', 'user_id' : 'submission'}, inplace = True)
train = pd.merge(train, info_submission, on='date', how='left')
train.head()

         date  사용자   세션  신규방문자  페이지뷰  prize  num_competition  submission
0  2018-09-09  281  266     73  1826  850.0              1.0        71.0
1  2018-09-10  264  247     51  2092  850.0              1.0        74.0
2  2018-09-11  329  310     58  1998  850.0              1.5        94.0
3  2018-09-12  300  287     45  2595  850.0              1.5        93.0
4  2018-09-13  378  344     50  3845  850.0              1.5        94.0

## info_user
- 개별 유저의 데이터는 크게 영향을 끼치지 않을거라생각함
- 사용하지 않음

## csv

In [12]:
train = train[['date', 'prize', 'num_competition', 'submission', '사용자', '세션', '신규방문자', '페이지뷰']]
train = train.fillna(0)
train.to_csv('./open_data/train.1.csv', index=False)

## 공휴일 / 주말

In [33]:
train['isHoliday'] = train['date'].apply(lambda x: 1 if x.weekday() == 5 or x.weekday() == 6 else 0)

In [35]:
train.head(50)

,date,prize,num_competition,submission,사용자,세션,신규방문자,페이지뷰,isHoliday
0,2018-09-09,850.0,1.0,71.0,281,266,73,1826,1
1,2018-09-10,850.0,1.0,74.0,264,247,51,2092,0
2,2018-09-11,850.0,1.5,94.0,329,310,58,1998,0
3,2018-09-12,850.0,1.5,93.0,300,287,45,2595,0
4,2018-09-13,850.0,1.5,94.0,378,344,50,3845,0
5,2018-09-14,0.0,0.0,19.0,343,317,57,3283,0
6,2018-09-15,350.0,1.0,34.0,210,202,40,1384,1
7,2018-09-16,350.0,1.0,38.0,202,196,30,1472,1
8,2018-09-17,350.0,1.0,52.0,331,302,69,3088,0
9,2018-09-18,350.0,1.0,59.0,333,313,72,2667,0
10,2018-09-19,350.0,1.0,50.0,241,220,37,1592,0
11,2018-09-20,350.0,1.0,55.0,292,283,88,1495,0
12,2018-09-21,350.0,1.0,57.0,208,197,51,1527,0
13,2018-09-22,350.0,1.0,46.0,194,184,65,955,1
14,2018-09-23,350.0,1.0,30.0,161,156,36,1042,1
15,2018-09-24,350.0,1.0,35.0,121,107,19,666,0
16,2018-09-25,350.0,1.0,28.0,112,111,15,524,0
17,2018-09-26,350.0,1.0,47.0,161,155,22,1046,0
18,2018-09-27,350.0,1.0,41.0,177,168,43,983,0
19,2018-09-28,350.0,1.0,33.0,123,118,33,654,0
20,2018-09-29,350.0,1.0,18.0,99,95,25,378,1
21,2018-09-30,350.0,1.0,21.0,121,117,60,431,1
22,2018-10-01,350.0,1.0,11.0,111,110,35,409,0
23,2018-10-02,350.0,1.0,10.0,102,95,27,468,0
24,2018-10-03,350.0,1.0,10.0,87,84,32,384,0
25,2018-10-04,350.0,1.0,16.0,84,78,27,474,0
26,2018-10-05,350.0,1.0,24.0,123,117,38,839,0
27,2018-10-06,350.0,1.0,8.0,78,75,22,341,1
28,2018-10-07,350.0,1.0,8.0,100,97,52,481,1
29,2018-10-08,350.0,1.0,5.0,69,68,24,245,0
30,2018-10-09,350.0,1.0,3.0,54,54,23,215,0
31,2018-10-10,350.0,1.0,12.0,91,85,29,550,0
32,2018-10-11,350.0,1.5,18.0,78,74,21,481,0
33,2018-10-12,350.0,1.5,18.0,102,99,34,470,0
34,2018-10-13,350.0,1.5,24.0,106,102,23,677,1
35,2018-10-14,0.0,0.0,3.0,170,163,24,1021,1
36,2018-10-15,0.0,0.0,0.0,229,227,55,1427,0
37,2018-10-16,0.0,0.0,1.0,189,183,69,1813,0
38,2018-10-17,0.0,0.0,7.0,623,618,369,3896,0
39,2018-10-18,1000.0,1.0,3.0,258,257,116,1394,0
40,2018-10-19,1000.0,1.0,9.0,208,207,80,1198,0
41,2018-10-20,1000.0,1.0,8.0,168,166,72,792,1
42,2018-10-21,1000.0,1.0,4.0,162,164,54,1347,1
43,2018-10-22,1000.0,1.0,4.0,182,195,65,1255,0
44,2018-10-23,1000.0,1.0,10.0,210,230,95,1275,0
45,2018-10-24,1000.0,1.0,14.0,163,166,63,767,0
46,2018-10-25,1000.0,1.0,10.0,138,146,37,736,0
47,2018-10-26,1000.0,1.0,13.0,143,152,34,811,0
48,2018-10-27,1000.0,1.0,11.0,72,71,18,335,1
49,2018-10-28,1000.0,1.0,15.0,88,88,19,538,1

In [69]:
import json
import requests

def get_request_query(url, operation, params, serviceKey):
    import urllib.parse as urlparse
    params = urlparse.urlencode(params)
    request_query = url + '/' + operation + '?' + params + '&' + \
    'serviceKey' + '=' + serviceKey + '&' +'_type' + '=' + 'json'
    return request_query


# 요청 URL과 오퍼레이션
URL = 'http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService'
OPERATION = 'getRestDeInfo' # 공휴일 정보 조회 오퍼레이션

# 파라미터
SERVICEKEY = '67yX%2BESCfbCn08mXGBSlxRdM5lqB3c%2BhCM%2Bhkte8ac%2BKT0rNHQ3Pd8OeuO8fzrbgrxcpCqhrUEbLorQGeOjfSw%3D%3D'
solYear  = '2020'  # 연도
solMonth = '10'   # 월
PARAMS = {'solYear':solYear, 'solMonth':solMonth}


request_query = get_request_query(URL, OPERATION, PARAMS, SERVICEKEY)
print('request_query:', request_query)
response = requests.get(url=request_query)
print('status_code:' + str(response.status_code))

if True == response.ok:
    holidays = json.loads(response.text)
holidays

request_query: http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getRestDeInfo?solYear=2020&solMonth=10&serviceKey=67yX%2BESCfbCn08mXGBSlxRdM5lqB3c%2BhCM%2Bhkte8ac%2BKT0rNHQ3Pd8OeuO8fzrbgrxcpCqhrUEbLorQGeOjfSw%3D%3D&_type=json
status_code:200

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'},
  'body': {'items': {'item': [{'dateKind': '01',
      'dateName': '추석',
      'isHoliday': 'Y',
      'locdate': 20201001,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '추석',
      'isHoliday': 'Y',
      'locdate': 20201002,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '개천절',
      'isHoliday': 'Y',
      'locdate': 20201003,
      'seq': 1},
     {'dateKind': '01',
      'dateName': '한글날',
      'isHoliday': 'Y',
      'locdate': 20201009,
      'seq': 1}]},
   'numOfRows': 10,
   'pageNo': 1,
   'totalCount': 4}}}